
block formulario
  h1 Creación producto
  form(class='formulario' action="/product/producto" method="POST") 

    input(class='form-item' id="nombre" name="nombre" placeholder="Nombre" type="text" value= producto ? producto.nombre : '')

    input(class='form-item' id="precio" name="precio" placeholder="Precio" type="text" value= producto ? producto.precio : '')

    input(class='form-item' id="referencia" name="referencia" placeholder="Referencia" type="text" value= producto ? producto.referencia : '')

    input(class='form-item' id="cantidad" name="cantidad" placeholder="Cantidad" type="text" value= producto ? producto.cantidad : '')

    input(class='form-item' id="descripcion" name="descripcion" placeholder="Descripcion" type="text" value= producto ? producto.descripcion : '')

    input(class='btnGuardar' id="btnGuardar" value="Crear Producto" type="submit")

  if errores 
    section(class='errores')
      each error in errores
        p=error.msg